/modul-1/Manusia/nbproject/private/
/modul-1/Manusia/build/
/modul-1/Manusia/dist/
/modul-1/perbaikantask3/nbproject/private/
/modul-1/PolygonHierarchy/nbproject/private/
/modul-1/PolygonHierarchy/build/
/modul-1/PolygonHierarchy/dist/
